body{
    padding: 0px;
    margin: 0;
    font-family: sans-serif;
}
.contenedo01{
    width: 100%;
    margin: auto;
}
section{
    height: 100vh;
}
.section1{
    background: url(../img/software/1.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section2{
    background: url(../img/software/2.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: auto;
}
.section3{
    background: url(../img/software/3.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section4{
    background: url(../img/software/4.jpg);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section1 h1{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
}
.texto__columna{
    text-align: justify;
    margin: 10px;
    padding: 10px 20px;
    background: rgba(255,255,255,0.8);
    width: 90%;
}
.section .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section3 h2{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
}
.section4 h3{
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 2.5em;
    opacity: 0.76;
    text-align: center;
    margin-top: 250px;
    padding: 10px;
}
@media(min-width:620px){
    .texto__columna{
        width: 40%;
    }
    .section1 h1{
        font-size: 3em;
    }
     .section3 h2{
        font-size: 3em;
    }
     .section4 h3{
        font-size: 3em;
    }
}
@media(min-width:1024px){
    .contenedor{
        width: 1024px;
    }
    .texto__columna{
        width: 19%;
    }
      .section1 h1{
        font-size: 4em;
    }
     .section3 h2{
        font-size: 4em;
    }
     .section4 h3{
        font-size: 4em;
    }
}
@media(min-width:1200px){
    .contenedor{
        width: 1200px;
    }
}
    
    
    
    
    
    
    
    
    
 body{
    margin: 0;
    padding: 0;
    background: #333;
    font-family: sans-serif;
}
h1{
    font-size: 70px;
    color:#fff;
    text-align: center;
}
.contenedor{ 
  width:100%;
    margin: auto;
}
img{
    width: 100%;
}
.galeria__columna{
    margin: 5px;
    filter: grayscale(100%);
}
.galeria__columna:hover{
   filter: grayscale(0%);
}
.galeria .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} 
@media(min-width:520px){
    .galeria__columna{
        width: 40%;
    }
}
@media(min-width:728px){
    .galeria__columna{
        width: 32%;
    }
}


@media(min-width:1024px){
    .galeria__columna{
        width: 24%;
    }
    .contenedor{
        width: 1024px;
    }
}


@media(min-width:1200px){
    .contenedor{
        width: 1200px;
    }
}




   
    
    









