#our-work-block .section-title, #process-block .section-title{
	margin-bottom: 40px;
	color: #003399;
}
#process-block {
	padding: 15px 0 160px;
	background: #f6f6f6;
}
#process-block .nav-tabs {
	text-align: center;
	border-bottom: 0px #bcc6d0 solid;
}
#process-block .nav-tabs:before {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background: #bcc6d0;
	position: relative;
	top: 58px;
}
#process-block .nav-tabs > li {
	float: none;
	display: inline-block;
}
#process-block .nav-tabs > li a {
	border-bottom: 0px #bcc6d0 solid;
	border: none;
	padding: 10px 35px;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
#process-block .nav-tabs > li.active > a, #process-block .nav-tabs > li.active > a:hover, #process-block .nav-tabs > li.active > a:focus {
	border-bottom: 0px #bcc6d0 solid;
	background-color: transparent;
}
#process-block .nav-tabs > li.active i {
	color: #003399;   /*color de la estrella*/
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
#process-block .nav-tabs > li.active i:after {
	background: #003399;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
#process-block .nav > li > a:hover, #process-block .nav > li > a:focus {
	background-color: transparent;
	color: #33cc33;
}
#process-block .nav > li > a:hover i {
	color: #33cc33;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
#process-block .nav > li > a:hover i:after {
	background: #33cc33;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
#process-block .nav-tabs > li a i {
	color: #bcc6d0;
	font-weight: 400;
	font-size: 24px;
	display: block;
}
#process-block .nav-tabs > li a i:after {
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: relative;
	background: #bcc6d0;
	top: 30px;
	right: 14px;
}
#process-block .nav-tabs > li a h5 {
	color: #404040;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	margin-top: 50px;
}
#process-block .tab-content .tab-pane {
	background: none;
	margin-top: 120px;
}
#process-block .process-img img {
	width: 100%;
	object-fit: cover;
	overflow: hidden;
	max-width: 360px;
	margin:0 auto;
    min-height: 400px;
}
#process-block .process-content {
	padding: 5em 3em;
}
#process-block .process-content h6 {
	font-size: 42px;
	color: #3c434d;
	font-weight: 600;
}
#process-block .process-content p {
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	font-family: 'PT Serif', serif;
	margin-top: 50px;
	margin-bottom: 35px;
}
#process-block .process-content a {
	color: #003399;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: underline;
	font-weight: 500;
}
#process-block .process-content a:hover {
	color: #404040;
	transition: all 300ms ease-in-out;
	-webkit-transition: all 300ms ease-in-out;
}
.c-block .counter {
	padding: 15px 42x 15px 42px;
	margin: 0 auto;
	font-size: 62px;
	font-weight: 400;
	margin-bottom: 0px;
	color: #fff;
	display: block;
	margin: 35px 0;
}
.c-block p {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	padding: 8px 10px;
	margin: 0 0;
	letter-spacing: 1px;
	display: inline-block;
}
.c-block i {
	color: #fff;
	font-size: 36px;
	font-weight: 100;
}

@keyframes fdeInUp {
from {
opacity:0;
-webkit-transform:translate3d(0, 10%, 0);
transform:translate3d(0, 10%, 0)
}
to {
	opacity: 1;
	-webkit-transform: none;
	transform: none
}
}
@media (min-width:768px) {
.fdeInUp {
	-webkit-animation-name: fdeInUp;
	animation-name: fdeInUp;
	-webkit-animation-duration: 1s;
	animation-duration: 1s
}
}


/*--------------------
Responsive queries
----------------------*/

/*
@media (max-width: 1024px){ul.about-features li{    width: calc(88% / 2);} 

#search{background:none;}

}
@media (max-width: 1000px) {
ul.about-features li:nth-child(odd) {
	margin-right: 5%;
}
ul.about-features {
	padding: 50px 50px;
	display: inline-block;
}
ul.about-features li {
	width: calc(93% / 2);
}
#our-work-block .works ul li {
	width: 47%;
}
#process-block .nav-tabs > li a {
	padding: 10px 16px;
}
ul.about-features li{    width: calc(93% / 2);}
}
 @media (max-width: 768px) {
	 
.ad-block{margin:0 auto;}	 
.c-block{margin-bottom:100px;}
.row{padding:15px;}	

#process-block .nav-tabs:before {
	display: none;
}
#process-block .nav-tabs > li a i:after {
	display: none;
}
#process-block .nav-tabs > li a h5 {
	margin-top: 15px;
}
#process-block .nav-tabs > li {
	display: block;
}
#process-block .nav-tabs > li:hover {
	background: #59ffe9;
}
#process-block .nav-tabs > li.active {
	background: #1c3eff;
}
#process-block .nav-tabs > li:hover a h5, #process-block .nav-tabs > li:hover a i {
	color: #fff;
}
#process-block .nav-tabs > li.active a h5, #process-block .nav-tabs > li.active a i {
	color: #fff;
}
.bottom-nav ul {
	padding-left: 0;
	display: block;
}
#comments ol li ol li {
	padding-left: 0;
}
#comments .comment-content {
	margin-left: 0px;
}
#comments .comment-author .avatar {
	position: relative;
}
#comments .comment-author b {
	display: block;
}
.author-box img.avatar {
	display: block;
	float: left;
    padding-right: 20px;
	margin: 30px auto;
}
.author-box .author-box-title {
	display: block;
}
#ticket-block a.btn {
	display: block;
	margin: 15px;
}
.page-block h1, .page-block h2, .page-block h3, .page-block h4, .page-block h5, .page-block h6, .page-block p {
	margin-left: auto;
}
}
 @media (max-width: 360px) {
}

/*edited file
time.updated{
    display: none;
}
*/